* {
    margin:0;
}

body {
    background-color:black;
    color:white;
    background: url("img/ruinas.jpg") no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

h1 {
    margin:1em;
    z-index: 999;
}

h2 {
    margin: auto;
    font-size: 4em;
    text-align:center;
    border: solid 0.1em brown;
    width:fit-content
}

#salirDerrumbe {
    z-index:9;
}

#derrumbe, #derrumbeFondo {
    position:absolute;
    bottom:1000px;
}

#derrumbe {
    opacity:0;
    z-index: 2;
}

#derrumbeFondo {
    z-index:1;
}

#salirCueva {
    color:white;
    background-color:black;
    left:40%;
    width: fit-content;
    font-size: 3em;
    position:absolute;
    z-index:999;
}

::-webkit-scrollbar {
    display: none;
}